table{
    border-collapse: collapse;
    border: 1px solid black;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}

td {
    text-align: center;
}



.t-stuff > thead {
    background-color: darkcyan;
}

.t-stuff > tbody {
    color: red;
    font-weight: 700;
}

.t-stuff > tfoot {
    background-color: cornflowerblue;
}

.t2 caption{
    margin-bottom: 10px;
}

.t2 > thead {
    background-color: rgb(231, 228, 228);
    font-weight: 700;
}

.t2 tbody {
    font-style: italic;
}

.t2 > tfoot {
    background-color: rgb(231, 228, 228);
    font-weight: 700;
}

.planets thead {
    background-color: rgb(231, 228, 228);
}

