body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

form {
    width: 40rem;
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;
    background-color: aqua;
}

input {
    margin-bottom: 1rem;
}

fieldset {
    border: 3px solid rebeccapurple;
}


textarea {
    resize: none;
}



.JS {
    width: 40rem;
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;
    background-color: aqua;
}