html {
    font-family: 'Karla', sans-serif;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 500;
    margin: 0;
}

#container {
    height: 50%;
    margin: 0;
    padding: 3rem;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2rem;
}

#options {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.option {
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
    background-color: beige;
    border: 1px solid black;
    border-radius: 0.4rem;
}

#score {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}