@font-face {
    font-family: 'Roboto-bold';
    src: url('fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf');
}

:root {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto';
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #03051E;
}


.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr auto;
}


.nav {
    grid-row: 1 / 3;
    min-height: 100%;
    padding: 1rem;
    background-color: #EAE1E1;
    color: rgba(0, 0, 0, 0.6);
}

.nav h2 {
    display: inline;
}

.nav-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav .icons li{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 6px;
}

.one {
    margin-bottom: 5rem;
}

.header {
    padding: 1rem;
    grid-column: 2 / 3  ;
    background-color: #0B5269;
    color: rgba(234, 225, 225, 0.5);
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr;
}

.header .top{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.top .search {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 30px 1fr;
    align-items: center;
    justify-content: start;
}

.header .top #searchbar {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    justify-self: start;
    width: 60%;
}

.top .top-left {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: end;
}

.top .top-left p {
    font-family: 'Roboto-bold';
    display: inline;
}

button {
    background-color: #EAE1E1;
    color: #0B5269;
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid #EAE1E1;
}

[src="human-child.png"] {
    border: 1px solid black;
    width: 3rem;
    border-radius: 50%;
}

.top [src="human-child.png"] {
    width: 3rem;
}

.header .profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bio {
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
}

.bio p {
    margin: 0;
}

[src="human-child.png"] {
    grid-row: span 2;
}


.profile-left {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
    justify-content: end;
    place-items: center center;
}


.header .profile p{
    font-family: 'Roboto-bold';
    display: inline;
}

.content {
    height: 100%;
    width: 100%;
    background: greenyellow;
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.projects {
    padding: 1.5rem;
    background-color: #978D58;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 200px;
    column-gap: 20px;
    row-gap: 30px;
    align-items: start;
}

.projects h2 {
    grid-column: 1 / -1;
    padding: 0;
    margin: 0;
}

.project {
    background-color: #EAE1E1;
    border-radius: 1rem;
    border-left: 0.3rem solid rgba(255, 255, 0, 0.5);
    padding: 0.7rem;
}

.symbols {
    padding: 1rem;
    display: flex;
    justify-content: end;
    gap: 1rem;
}


.announcements-trending {
    background-color: #EAE1E1;
    display: grid;
    align-content: start;
    grid-template-rows: 1fr 1fr;
}

.announcements {
    background-color: #EAE1E1;
    padding: 1.5rem;
}


.anno-header {
    font-family: 'Roboto-Bold';
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.anno-contents {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background: white;
}

.anno-head {
    font-family: 'Roboto-Bold';
    margin-bottom: 5px;
    font-size: 1.1rem;
}
.anno-content p{
    margin: 0;
}

.trending {
    background-color: #EAE1E1;
    padding: 1.5rem;
}

.tren-header {
    font-family: 'Roboto-Bold';
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.tren-contents {
    display: grid;
    grid-gap: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background: white;
}

.tren-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 10px;
    grid-template-areas: 
                        "profile name"
                        "profile title";
}

.tren-content img {
    grid-area: profile;
}

.tren-content p {
    margin: 0;
}

.tren-content p:nth-child(3) {
    color: rgba(0, 0, 0, 0.4);
}