:root {
	/* variables have scope which is detemined by the DOM tree. If we want to use the variables all across the site, we declare them in the root */
	--header: 3rem;
	--footer: 40px;
	--main: calc(100vh - calc(var(--header) + var(--footer))); /* calc() can mix units and can be nested !! */
	--warning-color: rgb(186, 23, 31);
}

body {
	margin: 0;
	padding: 0;
	border: 0px solid transparent;
	background: #7a7a7a;
}

#container {
	border: 0px solid transparent;
	height: 100vh;
	color: white;
}
#container > * {
	display: flex;
	justify-content: center;
	align-items: center;
}

#header {
	height: var(--header);
	background: #111111;
}
#mainContent {
	height: var(--main);
	background: #343434;
	margin-right: auto;
	margin-left: auto;
}
#footer {
	height: var(--footer);
	background: #232323;
}

.cont {
	width: 400px;
	height: 400px;
	background-color: aliceblue;
	border: 3px solid var(--warning-color, blue); /* var() accepts a fallback value (these can be nested too) */
	/* border: 3px solid var(--notreal-color, var(--notreal-again, blue)); */
	color: black;
	resize: both;
	overflow: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.thetext {
	border: 1px solid black;
	width: min(100%, 200px); /* if there are not 200px available, it will takes up 100% of its parent */
	height: min(100%, 200px); /* and max selects the largest available value */
}